.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="number"] {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0efeb; /* Soft light gray */
  color: #3d3d3d;
  outline: none;
  transition: border 0.2s ease, background-color 0.3s ease;
}

.form-container input:focus {
  border-color: #cc4d3c;
  background-color: #eae7e2;
}

